/* start custom scss snippet */

.image-h {
  max-height: 100%;
  @extend .image-h--md;
}

.image-h--md {
  height: map-get($image, width);
}
.image-h--xl {
  height: map-get($image, width-xl);
}
.image-h--lg {
  height: map-get($image, width-lg);
}
.image-h--sm {
  height: map-get($image, width-sm);
}
.image-h--xs {
  height: map-get($image, width-xs);
}

.font--xs {
font-size: map-get($base, font-size-xs);
}

.font--sm {
font-size: map-get($base, font-size-sm);
}

.font--md {
font-size: map-get($base, font-size-md);
}

.font--lg {
font-size: map-get($base, font-size-lg);
}

.font--xl {
font-size: map-get($base, font-size-xl);
}



/* end custom scss snippet */
