/* start custom scss snippet */

.image-h {
  max-height: 100%;
  @extend .image-h--md;
}

.image-h--md {
  height: map-get($image, width);
}
.image-h--xl {
  height: map-get($image, width-xl);
}
.image-h--lg {
  height: map-get($image, width-lg);
}
.image-h--sm {
  height: map-get($image, width-sm);
}
.image-h--xs {
  height: map-get($image, width-xs);
}

.font--xs {
font-size: map-get($base, font-size-xs);
}

.font--sm {
font-size: map-get($base, font-size-sm);
}

.font--md {
font-size: map-get($base, font-size-md);
}

.font--lg {
font-size: map-get($base, font-size-lg);
}

.font--xl {
font-size: map-get($base, font-size-xl);
}


.image-sq--md {
  width: map-get($image, width);
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.image-sq--xl {
  width: map-get($image, width-xl);
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.image-sq--lg {
  width: map-get($image, width-lg);
  aspect-ratio: 1 / 1;
  object-fit: cover;

}
.image-sq--sm {
  width: map-get($image, width-sm);
  aspect-ratio: 1 / 1;
  object-fit: cover;
}
.image-sq--xs {
  width: map-get($image, width-xs);
  aspect-ratio: 1 / 1;
  object-fit: cover;
}

.image-contain {
  object-fit: contain;
}

.image-96--md {
  width: map-get($image, width);
  aspect-ratio: 9 / 6;
  object-fit: cover;
}

.image-96--xl {
  width: map-get($image, width-xl);
  aspect-ratio: 9 / 6;
  object-fit: cover;
}

.image-96--lg {
  width: map-get($image, width-lg);
  aspect-ratio: 9 / 6;
  object-fit: cover;

}
.image-96--sm {
  width: map-get($image, width-sm);
  aspect-ratio: 9 / 6;
  object-fit: cover;
}
.image-96--xs {
  width: map-get($image, width-xs);
  aspect-ratio: 9 / 6;
  object-fit: cover;
}

.inline-block {
    display: inline-block;
}



/* end custom scss snippet */
